.quick-bets {
    margin: 20px 0;
}

.quick-bets button {
    background-color: white;
    color: black;
    font-size: 18px;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.quick-bets button:hover {
    background-color: gold;
}

#reload-button {
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#reload-button:enabled {
    background-color: gold;
    color: black;
}
